.footer {
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
  @media (max-width: 800px) {
    flex-direction: column;
    gap: 45px;
    height: auto !important;
  }
  @media (max-width: 1360px) {
    height: 11vw;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    font-family: $ALight;
    font-size: 18px;
    @media (max-width: 1360px) {
      font-size: calc(9px + .5vw);
    }
  }
  &-icons {
    display: flex;
    gap: 60px;
    @media (max-width: 800px) {
      justify-content: space-between;
    }
  }
}