.reviews {
  padding-top: 160px;
  @media screen and (max-width: 1360px) {
    padding-top: 8vw;
  }
  @media (max-width: 1100px) {
    flex-direction: column;
  }
  display: flex;
  justify-content: space-between;
  gap: 145px;
  @media (max-width: 1360px) {
    gap: 10vw;
  }
  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: space-between;        
  }



  &-title {
    display: flex;
    gap: 18px;
    max-width: 302px;
    flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    @media (max-width: 1100px) {
      align-self: center;
      max-width: 43vw;
    }
    &__headline {
      @include headline();
    }
    &__content {
      @include fonts_again($ALight, 9, 16);
    }
    &__stars {
      display: flex;
      align-items: center;
      gap: 10px;
      @include fonts_again($AMeduim, 7, 16);
      img {
        width: 25px;
        @media screen and (max-width: 1360px) {
          width: 1.8vw;
        }
        @media screen and (max-width: 926px) {
          width: 2.8vw;
        }

      }
    }

  }


  &-content {
    // display: flex;
    // // align-items: center;
    // // justify-content: space-between;
    // flex-direction: row;
    // @media (max-width: 750px) {
    //   flex-direction: column;
    // }
    &-wrapper {
      display: grid;
      grid-auto-rows: 300px 100px;
      grid-auto-columns: 80% 20%;
      grid-template-areas: "content btn"
                            "author btn";

      // max-width: 200px;
      @media screen and (max-width: 1100px) {
        grid-template-areas: "content content"
                              "author btn";
        grid-auto-rows: 90% 20%;
        grid-auto-columns: 80% 20%;
      }
      @media screen and (max-width: 300px) {
        grid-auto-rows: 90% 13%;
      }
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // flex-direction: column;
      
    }
    &__buttons {
      display: flex;
      justify-content: end;
      // align-self: flex-end;

      align-items: center;
      gap: 10px;
      grid-area: btn;
      div {
        display: flex;
        align-items: center;
      }
      @media (max-width: 1100px) {
        align-self: flex-end;

      }
      @media (max-width: 1100px) {
        img {
          width: calc(20px + 1vw);
        }
      }
      .reviews-right-arrow {
        transform: rotateZ(180deg);
      }
      // direction: 
    }
    &__content {
      transition: all 0.3s;
      grid-area: content;
      max-width: 676px;
      @media screen and (max-width: 1100px) {
        max-width: 95vw;
        margin: 0 auto;
      }
      @include fonts_again($Lora, 16, 32);
      // background-color: black;
    }
    &__info {
      transition: all 0.3s;
      &__author {
        @include fonts_again($Lora, 8, 20);
      }
      &__position {
        @include fonts_again($ALight, 7, 18);
      }
      @media screen and (max-width: 300px) {
        align-self: center;
      }
      grid-area: author;
      max-width: 200px
    }
  
  }
}
  